dark-navy = #1F314F
grey = #7D889E
light-grey = #D5E1EF
white = #FFFFFF
container-width = 320

body
    height: 100svh
    display: flex
    justify-content: center
    align-items: center
    background-color: light-grey

#qrcontainer
    background-color: white
    width: unit(container-width, 'px')
    border-radius: 8%

#qrcode
    width: unit(container-width*0.9, px)
    padding: unit(container-width*0.05, px)
    border-radius: 8%
    